[href^="https"] {
    color: red;
}
ul + p {
    font-size: 24px;
}
:root {
--navedennia: red;
--daedadawda-ad: #1E1E1E;
--normal-text: #FFFFFF;
}
.b {color: var(--navedennia);}
--daedadawda-ad: #1E1E1E
--normal-text: #FFFFFF